* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f7f8;
}

.head {
    margin-left: 160px !important;
    z-index: 100px !important;
}

.gat {
    width: 500px !important;
    padding-top: 30px !important;
    padding-left: 20px;
}

.gat1 {
    width: 500px !important;
    padding-top: 30px !important;
    padding-left: 20px;
}

.menu1 {
    color: #556473 !important;
    font-size: 15px !important;
    margin-left: 10px !important;
    line-height: 27px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;

}

.menu01 {
    margin-left: 0px !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.un1 {
    display: flex;
    gap: 45px;

}

.un2 {
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}

h3 {
    font-size: 18px !important;
    padding-left: 5px !important;
}

.box1:hover {
    color: rgba(0, 0, 255, 0.679) !important;
}

.small {
    margin: 0 !important;
    font-size: 14px !important;
    padding-left: 5px !important;
    color: grey !important;

}

.un3 {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

h2 {
    font-size: 18px !important;
    padding-left: 5px !important;
}

.box2:hover {
    color: green;

}

.box3:hover {
    color: rgba(234, 135, 152, 0.807);
}

.un4 {
    display: flex;
    gap: 70px;
    margin-top: 30px;
}

.box5:hover {
    color: rgb(221, 77, 25) !important;

}

.box6 h2 {
    padding-top: 13px;
    font-size: 18px !important;
}

.un6 {
    gap: 120px !important;
}

.un7 {
    gap: 100px !important;
    margin-top: 20px !important;
}

.un8 {
    gap: 80px !important;
    margin-top: 20px !important;
}

.get {
    position: absolute;
    left: 70%;
    gap: 10px;
}

.get1 {
    border: 1px solid black !important;
    width: 95px;
    height: 50px !important;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}

.get2 {
    border: 1px solid black !important;
    background-color: #122231 !important;
    width: 200px;
    height: 50px !important;
    border-radius: 10px;
    padding: 15px 28px;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}



.sec1 {
    border: px solid black;
    width: 100%;
    height: 600px;
    margin-top: 200px;
}

.get3 {
    border: px solid black !important;
    width: 360px !important;
    height: 50px;
    margin: 40px 170px;
    border-radius: 30px;
    background-color: #0089ff;
    cursor: pointer;
}

.get3:hover {
    background-color: black;
}

.get3:hover .angle {
    color: #0089ff;
    width: 10px;
}

.get4 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.img01 {
    animation-timing-function: 0.3s;
    animation: rotate 5s linear infinite;
    margin-top: 1px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.get4:hover .img01 {
    filter: invert(90%);
}

.angle {
    color: #7cb2e2;
    padding-left: 10px;
}

.get5 {
    margin-left: 170px;
    width: 400px;
}

.text003 {
    padding: px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bold;
    color: rgb(18, 34, 49);
}


.text004 {
    font-size: 20px;
    color: #3d5c91;
}

.get7 {
    margin: 10px 170px;
    gap: 10px;
}

.img02 {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.img02:hover {
    transform: translateY(-5px);
}

.get8 {
    position: absolute;
    bottom: 10%;
    left: 60%;
    animation: updown 10s ease-in-out infinite;

}

.get8:hover {
    animation-play-state: paused;
}

@keyframes updown {
    0% {
        transform: translateY(0rem);
    }

    25% {
        transform: translateY(1rem);
    }

    50% {
        transform: translateY(-1rem);
    }

    75% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.img04 {
    position: absolute;
    bottom: 73%;
    left: -15%;
    width: 220px;
}

.img05 {
    width: 200px;
    position: absolute;
    bottom: 38%;
    left: -15%;
}

.img06 {
    width: 250px;
    position: absolute;
    bottom: 72%;
    left: 65%;
}

.img07 {
    width: 200px;
    position: absolute;
    bottom: 35%;
    left: 70%;
}

.img08 {
    width: 230px;
    position: absolute;
    bottom: -5%;
    left: 60%;

}

.img09 {
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: -15%;
}

.get10 {
    margin-left: 150px;
}

.get11 h2 {
    font-size: 25px !important;
    margin-top: -10px;
    font-weight: bold;
}

.get11 p {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 27px;
}

.get12 {
    margin-top: 1px !important;
}

.get12 p {
    margin-top: -15px !important;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.fa {
    transform: scaleX(-1);
    font-size: 40px;
    font-weight: bold;
}

.get13 {
    border: px solid black;
    width: 254px;
    height: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.get13:hover {
    background-color: rgb(162, 162, 162);
}

.sec2 {
    border: px solid black;
    width: 90%;
    margin: auto;
    height: 1650px;
    margin-top: 90px;
}

.sec2 h3 {
    text-align: center;
    font-size: 45px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sec2 h2 {
    text-align: center;
    font-size: 23px !important;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: #122231;
}


.crd01 {
    height: 470px !important;
    border-radius: 20px !important;
    width: 500px !important;
    margin-left: 200px;
    margin-top: 80px;
    color: blue;
    overflow: hidden;
}

.crd01:hover {
    background-color: #0f60d6;
    color: white;
}

.crd01:hover .get15 {
    color: white;
}

.text005 {
    font-size: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 10px !important;
}

.text006 {
    font-size: 20px;
    margin: -20px 10px !important;
    font-weight: lighter !important;
    color: black;
}

.crd01:hover .text006 {
    color: white;
}

.get14 {
    border: px solid black;
    width: 80px;
    height: 10px;
    margin-top: 25px;
    cursor: pointer;
}


.get14:hover {
    background-color: rgb(162, 162, 162);
}

.get14 p {
    margin-top: -12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.get15 {
    margin-top: 230px;
    color: #0033a6;
}

.txt1 {
    font-size: 18px !important;
}

.img12 {
    position: absolute;
    left: 40%;
    bottom: -0.2% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
}

.crd01:hover .img12 {
    transform: translate(0, 0);
    opacity: 1;
}

.crd02 {
    border-radius: 20px !important;
    width: 480px !important;
    height: 470px;
    gap: 0px;
    margin-left: 30px;
    margin-top: 80px;
    color: #609eff;
    overflow: hidden;
}

.crd02:hover {
    background-color: #2295f2;
}

.crd02:hover .text005 {
    color: white;
}

.crd02:hover .text006 {
    color: white;
}

.get16 {
    margin-top: 200px;
    color: #3277dc;
}

.crd02:hover .get16 {
    color: white;
}


.img13 {
    position: absolute;
    left: 40%;
    bottom: -0.2% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
    /* object-fit: cover; */
}

.crd02:hover .img13 {
    transform: translate(0, 0);
    /* transform: translateX(-12px); */
    opacity: 1;
}

.crd03 {
    height: 470px !important;
    border-radius: 20px !important;
    width: 500px !important;
    margin-left: 200px;
    margin-top: 30px;
    color: #069b40;
    overflow: hidden;
}

.crd03:hover {
    background-color: #069b40;
    color: white;
}

.crd03:hover .text006 {
    color: white;
}

.img14 {
    position: absolute;
    left: 44%;
    bottom: -0.2% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
}

.crd03:hover .img14 {
    transform: translate(0, 0);
    opacity: 1;
}

.get17 {
    margin-top: 230px;
    color: #069b40;
}

.crd03:hover .get17 {
    color: white;
}

.get18 {
    border: px solid black;
    width: 110px;
    height: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.get18:hover {
    background-color: rgb(162, 162, 162);
}

.get18 p {
    margin-top: -12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.crd04 {
    border-radius: 20px !important;
    width: 480px !important;
    height: 470px;
    gap: 0px;
    margin-left: 30px;
    margin-top: 30px;
    color: #e5288e;
    overflow: hidden;
}

.crd04:hover {
    background-color: #e5288e;
    color: white;
}

.crd04:hover .text006 {
    color: white;
}

.img15 {
    position: absolute;
    left: 42%;
    bottom: -2.5% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
}

.crd04:hover .img15 {
    transform: translate(0, 0);
    opacity: 1;
}

.get19 {
    margin-top: 230px;
    color: #e5288e !important;
}

.crd04:hover .get19 {
    color: white !important;
}

.crd05 {
    height: 470px !important;
    border-radius: 20px !important;
    width: 500px !important;
    margin-left: 200px;
    margin-top: 30px;
    overflow: hidden;
}

.crd05:hover {
    background-color: #0c1825;
    color: white;
}

.crd05:hover .text006 {
    color: white;
}

.img16 {
    position: absolute;
    left: 44%;
    bottom: -0.2% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
}

.crd05:hover .img16 {
    transform: translate(0, 0);
    opacity: 1;
}

.get20 {
    margin-top: 250px;
    color: black;
}

.crd05:hover .get20 {
    color: white;
}

.crd06 {
    border-radius: 20px !important;
    width: 480px !important;
    height: 470px;
    gap: 0px;
    margin-left: 30px;
    margin-top: 30px;
    overflow: hidden;
    color: #ff783c;
}

.crd06:hover {
    background-color: #ff783c;
    color: white;
}

.img17 {
    position: absolute;
    left: 44%;
    bottom: -0.2% !important;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate(200px, 200px);
}

.crd06:hover .img17 {
    transform: translate(0, 0);
    opacity: 1;
}

.crd06:hover .text006 {
    color: white;
}

.get21 {
    margin-top: 250px;
    color: #ff783c;
}

.crd06:hover .get21 {
    color: white;
}

.get22 {
    border: px solid black;
    width: 100px;
    height: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.get22:hover {
    background-color: rgb(162, 162, 162);
}

.get22 p {
    margin-top: -12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.sec3 {
    border: px solid black;
    width: 100%;
    margin: auto;
    height: 950px;
    margin-top: 90px;
    background-color: white;
}

.sec3 h3 {
    text-align: center;
    padding-top: 200px;
    font-size: 50px !important;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.text007 {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d4f60;
    font-size: 25px !important;
}

.crd07 {
    display: flex;
    border-radius: 30px !important;
    width: 1150px !important;
    height: 480px;
    gap: px !important;
    margin: auto;
    margin-top: 30px;
    background-color: #7913e5;
}

.text008 {
    font-size: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 50px !important;
    color: white;
}

.text009 {
    color: #f69bea !important;
    font-size: 20px !important;
    margin-top: -20px !important;
    padding-left: 50px;
}

.img18 {
    width: 430px !important;
    margin-top: 50px;
    margin-left: 150px;
}

.get30 {
    margin-top: 80px !important;
    margin-left: 50px;
    color: white;
}

.get24 {
    border: px solid black;
    width: 195px;
    height: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.get24:hover {
    background-color: rgb(162, 162, 162);
}

.get24 p {
    margin-top: -12px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sec4 {
    overflow: hidden;
}

.sec4 h3 {
    text-align: center;
    margin-top: 120px;
    font-size: 30px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.text010 {
    text-align: center;
    margin-top: 20px;
    font-size: 22px !important;
    font-family: sans-serif;
    color: #3d4f60;
}

.crd08 {
    border: 10px solid white;
    margin: 40px 350px;
    border-radius: 30px;

}

.img19 {
    width: 480px;
}

.text11 {
    font-size: 25px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.crd09 {
    padding: 200px 200px;
    gap: 40px;
}

.crd10 {
    margin-top: 200px;
}


footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.738);
    height: 90vh;
}

.text12 {
    text-align: center;
    font-size: 50px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px !important;
    font-weight: bold;
}

.crd20 {
    width: 80px !important;

}

.crd12 {
    margin-left: 220px;
    gap: 80px !important;
    padding-top: 20px;
    cursor: pointer;

}

.crd13 {
    margin-top: -22px;
}

.img21 {
    margin-top: 20px;
}

li {
    list-style: none;
    font-size: 15px;
    color: #959fa8;
    line-height: 25px;
    cursor: pointer;
}

li:hover {
    color: rgba(67, 67, 238, 0.963);
}

.crd14 {
    gap: 110px !important;
    padding: 150px 250px;
}

.crd15 {
    gap: 60px;
}

.crd15 h2 {
    font-size: 15px !important;
}

.crd16 {
    gap: 10px !important;
    margin-left: 350px;
    cursor: pointer;
}

.text13 {
    font-size: 10px;
    padding-left: 250px;
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
}

.text14 {
    font-size: 15px;
    padding-left: 300px;
    text-align: right;
    margin-top: 30px;
    cursor: pointer;
    display: inline !important;
    line-height: 28px;
}

.text14:hover {
    color: rgba(53, 53, 221, 0.874);
}

.hor {
    color: grey;
    margin: -80px 200px !important;
}


.text15 {
    margin-top: 120px !important;
    margin-left: 200px;
    font-size: 10px;
    line-height: 25px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.text16 {
    margin-top: 30px !important;
    margin-left: 200px;
    font-size: 10px;
    line-height: 25px;
    color: grey;
    font-family: sans-serif;
    color: rgba(53, 53, 221, 0.874);
}


/* mobile responsiveness */
@media screen and (max-width:480px) {

    .head {
        display: flex;
        gap: 80px;
        margin-left: 10px !important;
    }

    .gat {
        width: 250px !important;
        padding-left: 5px;
        height: 500px;
    }

    .un2 {
        margin-top: 10px !important;

    }

    .gat1 {
        width: 380px !important;
    }

    .un1 {
        display: block !important;
        margin-left: -10px !important;

    }

    .un2 {
        padding-right: -10px !important;
    }

    .un3 {
        display: inline !important;
        padding-left: -20px !important;
    }

    .un4 {
        display: inline !important;
    }

    .un6 {
        gap: 50px !important;
    }

    .un7 {
        gap: 30px !important;
    }

    .un8 {
        gap: 10px !important;
    }

    .get {
        position: absolute;
        left: 10%;
        display: block !important;
    }

    .get1 {
        width: 320px;
        padding-left: 120px;
    }

    .get2 {
        margin-top: 20px !important;
        width: 320px !important;
        padding-left: 100px;
    }

    .get3 {
        margin: auto !important;
        width: 360px !important;
    }

    .get5 {
        margin: auto !important;
        margin-top: 20px !important;

        text-align: center !important;
    }

    .text004 {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    .get6 {
        flex-direction: column;
        justify-content: space-between;
    }

    .get7 {
        margin-left: 40px;
    }

    .get8 {
        position: absolute;
        bottom: -30%;
        left: 15%;
    }

    .img03 {
        width: 350px;
    }

    .img04 {
        width: 180px;
    }

    .img05 {
        width: 180px;
    }

    .img06 {
        width: 180px;
    }

    .img06 {
        width: 180px;
    }

    .img06 {
        width: 150px;
        left: 60%;
    }

    .img07 {
        width: 150px;
        left: 60%;
    }

    .img08 {
        width: 120px;
        left: 70%;
    }

    .img09 {
        width: 180px;
    }

    .sec1 {
        position: relative;
    }

    .get10 {
        flex-direction: column;
        margin: auto !important;
        margin-top: 250px !important;
    }

    .img10 {
        margin: auto;
    }

    .get11 h2 {
        text-align: center !important;
    }

    .get11 p {
        text-align: center !important;
        font-size: 20px;
        font-family: sans-serif;
    }

    .get12 {
        margin-left: 30px;
    }

    .get13 p {
        margin-left: -5% !important;
        width: 300px;
    }

    .sec2 h3 {
        font-size: 26px !important;
    }

    .sec2 h2 {
        font-size: 20px !important;
    }
    
    .crd01 {
        width: 380px !important;
        margin: auto !important;
        top: 10%;
    }

    .img12 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get15 {
        margin-top: 180px;
        margin-left: -15px !important;
        font-size: 15px;
    }

    .get14 p {
        margin-left: -10px !important;
    }

    .crd02 {
        width: 380px !important;
        margin-left: -1% !important;
        top: 5px;
    }

    .img13 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd03 {
        width: 380px !important;
        margin-left: -1% !important;
        top: 10px;
    }

    .img14 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get17 {
        margin-top: 180px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd04 {
        width: 380px !important;
        margin-left: -1% !important;
        top: 10px;
    }

    .img15 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get19 {
        margin-top: 220px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd05 {
        width: 380px !important;
        margin-left: -1% !important;
        top: 10px;
    }

    .img16 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd06 {
        width: 380px !important;
        margin-left: -1% !important;
        top: 10px;
    }

    .img17 {
        width: 170px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .sec3 {
        margin-top: 1600px;
        display: flex;
        flex-direction: column !important;
    }

    .sec3 h3 {
        padding-top: 20px !important;
        font-size: 30px !important;
    }

    .crd07 {
        flex-direction: column;
        width: 95% !important;
        height: 70%;
        padding: 20px;
    }

    .text008 {
        padding: 20px 30px !important;
        font-size: 25px !important;
    }

    .text009 {
        padding: 10px 30px;
        font-size: 20px !important;
    }

    .get30 {
        margin: 20px 50px !important;
    }

    .img18 {
        width: 300px !important;
        margin-left: 20px !important;
        margin-top: 37px !important;
    }

    .crd08 {
        width: 350px;
        height: 450px;
        margin: 10px 30px;
    }

    .crd09 {
        flex-direction: column-reverse;
        padding: 0px 20px;
    }

    .crd10 {
        margin-top: 60px;
        text-align: center;
    }

    .text11 {
        font-size: 20px !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .img19 {
        width: 350px;
    }

    .crd12 {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        margin: 20px 50px;
        gap: 35px !important;
    }

    .text12 {
        font-size: 25px !important;
    }

    .img20 {
        width: 80px;
    }

    .crd14 {
        flex-direction: column !important;
        padding: 100px 20px;
    }

    .crd15 {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
    }

    .crd15 div:last-child {
        grid-row: 3;
        gap: 20px !important;
    }

    .crd16 {
        margin-left: 10px;
    }

    .text13 {
        padding-left: 10px !important;
        text-align: left !important;
    }

    .text14 {
        padding-left: 10px !important;
        text-align: left !important;
    }

    .hor {
        margin: -50px 20px !important;
        width: 390px;
    }

    .text15 {
        margin: 80px 20px !important;
        line-height: 15px;
        text-align: left !important;
    }

    .text16 {
        margin-left: 20px !important;
        margin-top: -50px !important;
        font-size: 13px;
    }
}


/* tablet responsiveness */
@media screen and (min-width:481px) and (max-width:768px){

    .head {
        display: flex;
        gap: 80px;
        margin-left: 10px !important;
    }

    .gat {
        width: 250px !important;
        padding-left: 5px;
        height: 500px;
    }

    .un2 {
        margin-top: 10px !important;

    }

    .gat1 {
        width: 380px !important;
    }

    .un1 {
        display: block !important;
        margin-left: -10px !important;

    }

    .un2 {
        padding-right: -10px !important;
    }

    .un3 {
        display: inline !important;
        padding-left: -20px !important;
    }

    .un4 {
        display: inline !important;
    }

    .un6 {
        gap: 50px !important;
    }

    .un7 {
        gap: 30px !important;
    }

    .un8 {
        gap: 10px !important;
    }

    .get {
        position: absolute;
        left: 10%;
        display: block !important;
    }

    .get1 {
        width: 320px;
        padding-left: 120px;
    }

    .get2 {
        margin-top: 20px !important;
        width: 320px !important;
        padding-left: 100px;
    }

    .get3 {
        margin: auto !important;
        width: 360px !important;
    }

    .get5 {
        margin: auto !important;
        margin-top: 20px !important;
        text-align: center !important;
    }

    .text003{
        font-size: 30px;
        font-weight: bold;
    }

    .text004 {
        font-size: 20px;
        padding-top: 10px;
        text-align: left;
        max-width: 95% !important;
    }

    .get6 {
        flex-direction: column;
        justify-content: space-between;
    }

    .get8 {
        position: absolute;
        bottom: -60%;
        left: 15%;
    }

    .img03 {
        width: 500px;
    }

    .img04 {
        width: 230px;
    }

    .img05 {
        width: 200px;
    }

    .img06 {
        width: 180px;
        left: 75%;
    }

    .img07 {
        width: 250px;
        left: 75%;
    }

    .img08 {
        width: 200px;
        left: 75%;
    }

    .img09 {
        width: 200px;
    }

    .img10{
        width: 200px;
        margin: auto;
    }

    .sec1 {
        position: relative;
    }

    .get10 {
        flex-direction: column;
        margin: auto !important;
        margin-top: 600px !important;
    }

    .get11 h2 {
        text-align: center !important;
    }

    .get11 p {
        text-align: center !important;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .get12 {
        margin-left: 200px;
    }

    .get13 p {
        margin-left: -5% !important;
        width: 300px;
    }

    .sec2 h3 {
        font-size: 40px !important;
    }

    .sec2 h2 {
        font-size: 20px !important;
    }

    .nio{
        flex-direction: column !important;
    }
    .crd01 {
        width: 500px !important;
        margin-left: 40%;
        top: 10%;
        flex-direction: column !important;
    }

    .img12 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get15 {
        margin-top: 180px;
        margin-left: -15px !important;
        font-size: 15px;
    }

    .get14 p {
        margin-left: -10px !important;
    }

    .crd02 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 5px;
    }

    .img13 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd03 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img14 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get17 {
        margin-top: 180px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd04 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img15 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get19 {
        margin-top: 220px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd05 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img16 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd06 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img17 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .sec3 {
        margin-top: 1600px;
        display: flex;
        flex-direction: column !important;
    }

    .sec3 h3 {
        padding-top: 30px !important;
        font-size: 35px !important;
        font-weight: bold;
    }

    .crd07 {
        flex-direction: column;
        width: 80% !important;
        height: 80%;
        padding: 20px;
    }

    .text008 {
        padding: 20px !important;
        text-align: center !important;
        font-size: 30px !important;
    }

    .text009 {
        padding: 10px ;
        font-size: 25px !important;
        max-width: 400% !important;
        text-align: center !important;
    }

    .get30 {
        margin: 10px 150px !important;
    }

    .img18 {
        width: 360px !important;
        margin-left: 100px !important;
        margin-top: 44px !important;
    }

    .sec4 h3{
        font-size: 30px !important;
        font-weight: bold !important;
    }

    .crd08 {
        width: 650px;
        height: 500px;
        margin: 50px 60px;
    }

    .crd09 {
        flex-direction: column-reverse;
    }

    .crd10 {
        margin-top: 50px;
    }

    .text11 {
        font-size: 20px !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .img19 {
        width: 450px;
        margin-top: 30px !important;
        margin-left: -50px;
    }

    .crd12 {
        flex-wrap: wrap;
        margin: 20px 50px;
        gap: 35px !important;
        justify-content: center;
    }

    .text12 {
        font-size: 30px !important;
    }

    .img20 {
        width: 80px;
    }

    .crd14 {
        flex-direction: column !important;
        padding: 100px 20px;
    }

    .crd15 {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
    }

    .crd15 div:last-child {
        grid-row: 3;
        gap: 20px !important;
    }

    .crd16 {
        margin-left: 10px;
    }

    .text13 {
        padding-left: 10px !important;
        text-align: left !important;
        font-size: 15px;
    }

    .text14 {
        padding-left: 10px !important;
        text-align: left !important;
        font-size: 15px;
        display: block !important;
    }

    .hor {
        margin: -50px 20px !important;
        width: 700px;
    }

    .text15 {
        margin: 80px 20px !important;
        line-height: 15px;
        text-align: left !important;
        font-size: 10px !important;
    }

    .text16 {
        margin-left: 20px !important;
        margin-top: -50px !important;
        font-size: 13px;
    }

    footer{
        height: 140vh !important;
    }
}


/* tablet responsiveness */
@media screen and (min-width:769px) and (max-width:1279px){

    .head {
        display: flex;
        gap: 80px;
        margin-left: 10px !important;
    }

    .gat {
        width: 250px !important;
        padding-left: 5px;
        height: 500px;
    }

    .un2 {
        margin-top: 10px !important;

    }

    .gat1 {
        width: 380px !important;
    }

    .un1 {
        display: block !important;
        margin-left: -10px !important;

    }

    .un2 {
        padding-right: -10px !important;
    }

    .un3 {
        display: inline !important;
        padding-left: -20px !important;
    }

    .un4 {
        display: inline !important;
    }

    .un6 {
        gap: 50px !important;
    }

    .un7 {
        gap: 30px !important;
    }

    .un8 {
        gap: 10px !important;
    }

    .get {
        position: absolute;
        left: 10%;
        display: block !important;
    }

    .get1 {
        width: 320px;
        padding-left: 120px;
    }

    .get2 {
        margin-top: 20px !important;
        width: 320px !important;
        padding-left: 100px;
    }

    .get3 {
        margin: auto !important;
        width: 360px !important;
    }

    .get5 {
        margin: auto !important;
        margin-top: 20px !important;
    }

    .text003{
        font-size: 50px;
        font-weight: bold;
        
    }

    .text004 {
        font-size: 20px;
        padding-top: 10px;
        text-align: left;
        max-width: 95% !important;
    }

    .get6 {
        flex-direction: column;
        justify-content: space-between;
    }

    .get7{
        margin-left: 200px;
    }

    .get8 {
        position: absolute;
        bottom: -60%;
        left: 15%;
    }

    .img03 {
        width: 500px;
    }

    .img04 {
        width: 230px;
    }

    .img05 {
        width: 200px;
    }

    .img06 {
        width: 180px;
        left: 75%;
    }

    .img07 {
        width: 250px;
        left: 75%;
    }

    .img08 {
        width: 200px;
        left: 75%;
    }

    .img09 {
        width: 200px;
    }

    .img10{
        width: 200px;
        margin: auto;
    }

    .sec1 {
        position: relative;
    }

    .get10 {
        flex-direction: column;
        margin: auto !important;
        margin-top: 600px !important;
    }

    .get11 h2 {
        text-align: center !important;
    }

    .get11 p {
        text-align: center !important;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .get12 {
        margin-left: 200px;
    }

    .get13 p {
        margin-left: -5% !important;
        width: 300px;
    }

    .sec2 h3 {
        font-size: 40px !important;
    }

    .sec2 h2 {
        font-size: 20px !important;
    }

    .nio{
        flex-direction: column !important;
    }
    .crd01 {
        width: 500px !important;
        margin-left: 40%;
        top: 10%;
        flex-direction: column !important;
    }

    .img12 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get15 {
        margin-top: 180px;
        margin-left: -15px !important;
        font-size: 15px;
    }

    .get14 p {
        margin-left: -10px !important;
    }

    .crd02 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 5px;
    }

    .img13 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd03 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img14 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get17 {
        margin-top: 180px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd04 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img15 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .get19 {
        margin-top: 220px;
        margin-left: -10px !important;
        font-size: 15px;
    }

    .crd05 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img16 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .crd06 {
        width: 500px !important;
        margin-left: 40% !important;
        top: 10px;
    }

    .img17 {
        width: 200px;
        left: 45%;
        bottom: -0.2% !important;
    }

    .sec3 {
        margin-top: 1600px;
        display: flex;
        flex-direction: column !important;
    }

    .sec3 h3 {
        padding-top: 30px !important;
        font-size: 35px !important;
        font-weight: bold;
    }

    .crd07 {
        flex-direction: column;
        width: 80% !important;
        height: 80%;
        padding: 20px;
    }

    .text008 {
        padding: 20px !important;
        text-align: center !important;
        font-size: 30px !important;
    }

    .text009 {
        padding: 10px ;
        font-size: 25px !important;
        max-width: 400% !important;
        text-align: center !important;
    }

    .get30 {
        margin: 10px 150px !important;
    }

    .img18 {
        width: 360px !important;
        margin-left: 100px !important;
        margin-top: 44px !important;
    }

    .sec4 h3{
        font-size: 30px !important;
        font-weight: bold !important;
    }

    .crd08 {
        width: 650px;
        height: 500px;
        margin: 50px 60px;
    }

    .crd09 {
        flex-direction: column-reverse;
        
    }

    .crd10 {
        margin-top: 50px;
    }

    .text11 {
        font-size: 20px !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .img19 {
        width: 450px;
        margin-top: 30px !important;
        margin-left: -50px;
    }

    .crd12 {
    flex-wrap: wrap;
    margin-left: 20px !important;
    gap: 20px !important;
    padding-top: 20px;
    cursor: pointer;

    }

    .text12 {
        font-size: 30px !important;
    }

    .img20 {
        width: 80px;
    }

    .crd14 {
        flex-direction: column !important;
        padding: 100px 20px;
    }

    .crd15 {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
    }

    .crd15 div:last-child {
        grid-row: 3;
        gap: 20px !important;
    } 
    
    .crd16 {
        margin-left: 10px;
    }

    .text13 {
        padding-left: 10px !important;
        text-align: left !important;
        font-size: 15px;
    }

    .text14 {
        padding-left: 10px !important;
        text-align: left !important;
        font-size: 15px;
        display: block !important;
    }

    .hor {
        margin: -50px 20px !important;
        width: 700px;
    }

    .text15 {
        margin: 80px 20px !important;
        line-height: 15px;
        text-align: left !important;
        font-size: 10px !important;
    }

    .text16 {
        margin-left: 20px !important;
        margin-top: -50px !important;
        font-size: 13px;
    }

    footer{
        height: 120vh !important;
    }
}